@mixin title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-transform: uppercase;
  text-decoration: solid underline;
}

// fonts

// colors
