.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.page__header {
  width: 100vh;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(../images/fondo-disney.jpg);
  background-size: cover; */
}
