.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.page__header {
  width: 100%;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.15)
    ),
    url(../images/fondo-disney.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header-title {
    margin-top: 23rem;
    font-size: 10rem;
    color: white;
  }
  .header-section {
    width: 90rem;
    height: 15rem;
    background-color: #193177;
    margin-bottom: -7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-form {
      height: 7rem;
      .input-text {
        width: 70vh;
        height: 7rem;
        font-size: 5rem;
      }
      .input-button {
        height: 7rem;
        font-size: 5rem;
        background-color: darkkhaki;
      }
    }
  }
}
