<main class="page-main">
   <section class="favourites-section">
      <h2 class="favourites-title">Favourites</h2>
      <ul class="favourites-list js__favourites_list">

      </ul>
   </section>
   <section class="principal-section">
      <h2 class="list-title">Characters</h2>
      <ul class="principal-list js__principal_list">
         <li class="card">
            <img class="card-image" src="#" alt="Baloo">
            <h3 class="card-name">Baloo</h3>
         </li>
      </ul>
   </section>
</main>