@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.card {
  margin: 1.5rem;
  padding: 0.5rem;
  border: solid 0.2rem rgb(0, 153, 255);
  background-color: rgb(154, 235, 204);
}
.card-image {
  width: 15rem;
  height: 12rem;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 1rem 0rem gray;
}
.favourites {
  width: 18rem;
  height: 18rem;
  border: solid 0.5rem rgb(149, 11, 68);
  background-color: rgb(244, 193, 208);
  margin: 1.5rem;
  padding: 0.5rem;
}
